/* Mobile/vertical screens - use column design */
@media (orientation: portrait) or (max-width: 1279px){
  .column-if-mobile{ /* Display Profile section above About section */
    display: flex;
    flex-direction: column;
  }

  .home section{
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .home aside{
    padding: 0 2rem; /* top/bottom, right/left */
  }

  .quick-nav{
    display: none;
  }

  .scroll-icon{
    display: none;
  }

  .page{ /* Separate "pages" with dividers */
    /* TODO: Consider fully disabling animations when not needed instead of
       ignoring them for performance reasons. */
    opacity: 1 !important; /* Ignore animations on mobile/vertical screens */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bs-dark-border-subtle);
    margin-bottom: 2rem;
  }
}

/* Desktop screens - use side-by-side design */
@media (orientation: landscape) and (min-width: 1280px){
  html{
    scroll-padding-top: 4rem; /* Offset scrolling by header size 4rem */
  }

  .home section{
    position: fixed; /* Profile section does not scroll */
    width: 40%;
    height: 100%; /* For background color cover */
    padding: 4rem;
  }

  .home aside{
    margin-left: 40%; /* Clear the profile section */
    padding: 0 4rem; /* top/bottom, right/left */
  }

  .footer-offset{ /* Clear the profile section */
    margin-left: 40%;
  }

  .scroll-icon{
    position: fixed;
    bottom: 1rem;
    width: calc(60% - 8rem); /* Aside has width 60% with 4rem padding */
    text-align: center;
  }

  .page{
    height: calc(100vh - 4rem); /* Cover an entire viewport */
    /* Vertically center the page contents */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pc-desc{ /* Description text for "Max's Custom Computers" page */
    /* Vertically center the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Control width of carousel */
    flex-basis: 45%;
    margin-right: 4rem;
  }

  .pc-carousel{
    flex-basis: 55%; /* Control width of carousel */
  }

  .quick-nav{ /* Fixed at bottom right corner of profile section */
    position: fixed;
    bottom: 2rem;
    right: calc(60% + 2rem);
    gap: 0.125rem; /* Reduce gap between items */
  }

  .quick-nav .nav-link{
    text-align: right;
    text-decoration: none;
    padding: 0.5rem;
    /* Replaces underline with border-right, which looks better with column. */
    border-right: 0.125rem solid var(--bs-dark-border-subtle);
  }

  .quick-nav .nav-link.active{
    border-right-color: var(--bs-body-color);
    font-weight: bold;
  }

  /* Dynamic font sizing; applies only when side-by-side design is applied. */
  .dyn-0{
    display: none;
  }

  .dyn-1-5{
    font-size: 1.5rem;
  }

  .dyn-2{
    font-size: 2rem;
  }

  .dyn-3{
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  /* Adjustments for small desktop screens (< 1920x1080). */
  @media (orientation: landscape) and (max-height: 1079px){
    .home section img{ /* Limit image size to prevent overlap with quick-nav */
      max-height: 50%;
    }
  }

  /* Adjustments for extremely small desktop screens (< 1920x1080 @ 1.25x). */
  @media (orientation: landscape) and (max-height: 863px){
    .home section{ /* Reduce padding to prevent overlap with quick-nav. */
      padding-top: 2rem;
    }

    .quick-nav{ /* Avoid overlap with profile section */
      line-height: 1rem; /* Makes quick-nav more compact */
      bottom: 0.5rem; /* Move closer to bottom */
      right: calc(60% + 0.5rem); /* Move closer to right edge */
    }

    .dyn-1-5{ /* Clamp dynamic font sizes to a maximum equivalent to 14px. */
      font-size: min(1.5rem, 21px);
    }

    .dyn-2{
      font-size: min(2rem, 28px);
    }

    .dyn-3{
      font-size: min(3rem, 42px);
    }
  }
}

.home section .bi{ /* GitHub and LinkedIn buttons */
  font-size: 4rem; /* Set icon size */
}

/* Carousel styling */

.carousel{
  /* Make room for carousel controls around the project card so they don't
     interfere with clickable buttons within the project card. */
  padding: 0 2.5rem 1.5rem; /* top, right/left, bottom */
  margin: 1rem auto 0; /* top, right/left, bottom */
}

.carousel-indicators{ /* The control area at the bottom of the carousel */
  margin: 0; /* Resets the preexisting margin */
}

.carousel-indicators button{ /* Control buttons follow light/dark mode */
  background-color: var(--bs-body-color) !important;
}

.carousel-control-prev, .carousel-control-next{ /* Left/right buttons */
  background-color: var(--bs-body-color); /* Make carousel controls visible */
  border-radius: var(--bs-border-radius);
  width: 2rem; /* Prevent overlap with card */
  height: calc(100% - 1.5rem); /* Align with card, exclude bottom padding */
  /* Prevents filter from keeping buttons dark when dark mode is active */
  filter: none;
}

/* When dark mode is active, invert color of arrow icons (dark on light bg) */
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon{
  filter: invert(100%); /* Make carousel controls visible */
}

.overlay-shadow::before{
  content: ''; /* Shadow doesn't render without this */
  width: 100%;
  height: 100%;
  position: absolute;
  /* Define variable gradients for responsive scaling */
  --gradient-sm: linear-gradient(0,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.75) 20%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 60%
  );
  --gradient-md: linear-gradient(0,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  --gradient-lg: linear-gradient(0,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.75) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0) 40%
  );
  --gradient-xl: linear-gradient(0,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.75) 7.5%,
    rgba(0, 0, 0, 0.5) 15%,
    rgba(0, 0, 0, 0) 30%
  );
}

/** Responsive scaling for card image overlay shadow; smaller card width means
  * text will cover more of the image, so the gradient should reach higher.
  * Row breakpoints:
  * - 1 card per row: 768px ~ 1535px
  * - 2 cards per row: 1536px ~ 3071px
  * - 3 cards per row: >=3072px
  */

@media ((min-width: 768px) and (max-width: 899px)) or /* 1 card per row */
       ((min-width: 1536px) and (max-width: 1919px)){ /* 2 cards per row */
  /** Common resolutions at this breakpoint:
    * - Portrait mode tablets (1 card per row)
    * - 1536x864 == 1920x1080 @ 1.25x scaling (2 cards per row)
    * - 1600x900 (2 cards per row)
    * - 1707x960 == 2560x1440 @ 1.5x scaling (2 cards per row)
    */
  .overlay-shadow::before{
    background: var(--gradient-sm);
  }
}

@media ((min-width: 900px) and (max-width: 1079px)) or  /* 1 card per row */
       ((min-width: 1920px) and (max-width: 2047px)) or /* 2 cards per row */
       (min-width: 3072px){                             /* 3 cards per row */
  /** Common resolutions at this breakpoint: 
    * - Landscape mode phones (1 card per row)
    * - 1920x1080 (2 cards per row)
    * - 3072x1728 == 3840x2160 @ 1.25x scaling (3 cards per row)
    */
  .overlay-shadow::before{
    background: var(--gradient-md);
  }
}

@media ((min-width: 1080px) and (max-width: 1199px)) or /* 1 card per row */
       ((min-width: 2048px) and (max-width: 2559px)) or /* 2 cards per row */
       (min-width: 3240px){                             /* 3 cards per row */
  /** Common resolutions at this breakpoint:
    * - Landscape mode tablets (1 card per row)
    * - 1080x1920 (1 card per row)
    * - 2048x1152 == 2560x1440 @ 1.25x scaling (2 cards per row)
    */
  .overlay-shadow::before{
    background: var(--gradient-lg);
  }
}

@media ((min-width: 1200px) and (max-width: 1535px)) or /* 1 card per row */
       ((min-width: 2560px) and (max-width: 3071px)) or /* 2 cards per row */
        (min-width: 3840px){                            /* 3 cards per row */
  /** Common resolutions at this breakpoint:
    * - Landscape mode tablets (1 card per row)
    * - 1200x1920 (1 card per row)
    * - 1280x720 == 1920x1080 @ 1.5x scaling (1 card per row)
    * - 1366x768 (1 card per row)
    * - 2560x1440 == 3840x2160 @ 1.5x scaling (2 cards per row)
    * - 3840x2160 (3 cards per row)
    */
  .overlay-shadow::before{
    background: var(--gradient-xl);
  }
}