@media (orientation: portrait) or (max-width: 1279px){
  .home{
    /* Display Profile section above About section */
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) and (min-width: 1280px){
  .home section{
    position: fixed; /* Profile section does not scroll */
    width: 20%;
  }

  .home aside{
    margin-left: 30%;
  }
}

.home section .bi{ /* GitHub and LinkedIn buttons */
  font-size: 4rem; /* Set icon size */
}

/* Carousel styling */

.carousel{
  /* Make room for carousel controls around the project card so they don't
     interfere with clickable buttons within the project card. */
  padding: 0 2.5rem 1.5rem; /* top, right/left, bottom */
  margin: 1rem auto 0; /* top, right/left, bottom */
}

.carousel-indicators{ /* The control area at the bottom of the carousel */
  margin: 0; /* Resets the preexisting margin */
}

.carousel-indicators button{ /* Control buttons follow light/dark mode */
  background-color: var(--bs-body-color) !important;
}

.carousel-control-prev, .carousel-control-next{ /* Left/right buttons */
  background-color: var(--bs-body-color); /* Make carousel controls visible */
  border-radius: var(--bs-border-radius);
  width: 2rem; /* Prevent overlap with card */
  height: calc(100% - 1.5rem); /* Align with card, exclude bottom padding */
  /* Prevents filter from keeping buttons dark when dark mode is active */
  filter: none;
}

/* When dark mode is active, invert color of arrow icons (dark on light bg) */
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon{
  filter: invert(100%); /* Make carousel controls visible */
}