/* Filter section styling */

@media (max-width: 1599px){
  /* Tag buttons render poorly below 1600px, hide them. */
  #filter-container{
    display: none;
  }

  .search-bar{ /* Add some space between search bar and projects. */
    margin-bottom: 2em !important; /* Overriden by mb-3 without !important */
  }
}

@media (min-width: 1600px) and (max-width: 1919px){
  /* Render tag buttons and label on separate lines (no flex). */
  #filter-label{
    margin: 0 1em 1em 0; /* top, right, bottom, left */
  }
}

@media (orientation: landscape) and (min-width: 1920px){
  /* If the window is at least 1920px wide, the tag buttons and label can be on the same line. */
  #filter-container{
    display: flex;
  }
  #filter-label{ /* Vertically align label based on button height */
    margin: auto 1em auto 0; /* top, right, bottom, left */
  }
}

.filter-btns .btn{
  margin: 0; /* Remove margin for filter buttons */
}

/* Projects section styling */

.projects-section{
  display: flex;
  flex-wrap: wrap; /* Overflow into pseudo-grid */
  gap: 0.5%; /* Horizontal space between cards */
}

.projects-section .card-in{ /* 0.5% gap between cards on different rows. */
  margin-bottom: 0.5%;
}

.projects-section .card-out{ /* Override 0.5% gap for hidden cards. */
  margin: 0 -0.5% 0 0; /* top, right, bottom, left */
}

@media (min-width: 1600px){
  .projects-section .card-in{
    flex-basis: 49.75%; /* 2 cards per row */
  }

  .projects-section .card-out{
    max-width: 49.75%;
  }
}

@media (min-width: 2560px){
  .projects-section .card-in{
    flex-basis: 33%; /* 3 cards per row */
  }

  .projects-section .card-out{
    max-width: 33%;
  }
}

@media (min-width: 3840px){
  .projects-section .card-in{
    flex-basis: 24.625%; /* 4 cards per row */
  }

  .projects-section .card-out{
    max-width: 24.625%;
  }
}