/* Filter section styling */

#btn-group .btn{
  /* Prevent excessive flex-grow when only one or two buttons wrap over to the
     last row. */
  max-width: 12rem;
}

/* Prevent wrapped filter buttons from occupying too much vertical space on
   small screens by scaling font size and padding (thus reducing wrapping). */

@media (max-width: 1200px){ /* Landscape mode tablets */
  #btn-group .btn{
    font-size: 0.9rem;
  }
}

@media (max-width: 991px){ /* Portrait mode tablets, landscape mode phones */
  #btn-group .btn{
    font-size: 0.8rem;
    padding: 0.35rem 0.7rem; /* top/bottom, left/right */
  }
}

@media (max-width: 599px){ /* Portrait mode phones */
  #btn-group .btn{
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem; /* top/bottom, left/right */
  }
}

/** Responsive scaling for project cards. Row breakpoints:
  * - 1 card per row: 768px ~ 1535px
  * - 2 cards per row: 1536px ~ 3071px
  * - 3 cards per row: >=3072px
  */

@media (min-width: 1536px){ /* Equivalent to 1920x1080 @ 1.25x scaling */
  .project-card{
    flex-basis: 49.75%; /* 2 cards per row */
  }
}

@media (min-width: 3072px){ /* Equivalent to 3840x2160 @ 1.25x scaling */
  .project-card{
    flex-basis: 33%; /* 3 cards per row */
  }
}