/* Filter section styling */

@media (max-width: 1599px){
  /* Tag buttons render poorly below 1600px, hide them. */
  #filter-container{
    display: none;
  }

  .search-bar{ /* Add some space between search bar and projects. */
    margin-bottom: 2em !important; /* Overriden by mb-3 without !important */
  }
}

@media (min-width: 1600px) and (max-width: 1919px){
  /* Render tag buttons and label on separate lines (no flex). */
  #filter-label{
    margin: 0 1em 1em 0; /* top, right, bottom, left */
  }
}

@media (orientation: landscape) and (min-width: 1920px){
  /* If the window is at least 1920px wide, the tag buttons and label can be on the same line. */
  #filter-container{
    display: flex;
  }
  #filter-label{ /* Vertically align label based on button height */
    margin: auto 1em auto 0; /* top, right, bottom, left */
  }
}

/** Responsive scaling for project cards. Row breakpoints:
  * - 1 card per row: 768px ~ 1535px
  * - 2 cards per row: 1536px ~ 3071px
  * - 3 cards per row: >=3072px
  */

@media (min-width: 1536px){ /* Equivalent to 1920x1080 @ 1.25x scaling */
  .project-card{
    flex-basis: 49.75%; /* 2 cards per row */
  }
}

@media (min-width: 3072px){ /* Equivalent to 3840x2160 @ 1.25x scaling */
  .project-card{
    flex-basis: 33%; /* 3 cards per row */
  }
}