.translucent-btn{
  opacity: 0.6;
}

.text-shadow-stack{
  color: #dee2e6; /* Override text color to dark mode default */
  text-shadow: 0px 0px 0.5rem black,
               0px 0px 0.5rem black,
               0px 0px 0.5rem black,
               0px 0px 0.5rem black;
}

.overlay-shadow::before {
  content: ''; /* Shadow doesn't render without this */
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0, 
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.75) 10%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0) 40%
  );
}